.lkt-icon {
    appearance: none;
    display: var(--lkt-icon--display);
    flex-direction: var(--lkt-icon--flex-direction);
    align-items: var(--lkt-icon--align-items);
    justify-content: var(--lkt-icon--justify-content);
    gap: var(--lkt-icon--gap);
    padding: var(--lkt-icon--padding);
    min-width: var(--lkt-icon--min-width);
    max-width: var(--lkt-icon--max-width);
    width: var(--lkt-icon--width);
    min-height: var(--lkt-icon--min-height);
    max-height: var(--lkt-icon--max-height);
    height: var(--lkt-icon--height);
    background: var(--lkt-icon--background);
    border-radius: var(--lkt-icon--border-radius);
    border-width: var(--lkt-icon--border-width);
    border-style: var(--lkt-icon--border-style);
    border-color: var(--lkt-icon--border-color);
    font-size: var(--lkt-icon--font-size);
    font-weight: var(--lkt-icon--font-weight);
    letter-spacing: var(--lkt-icon--letter-spacing);
    line-height: var(--lkt-icon--line-height);
    color: var(--lkt-icon--color);
    text-align: var(--lkt-icon--text-align);
    transition: var(--lkt-icon--transition);
    margin: var(--lkt-icon--margin);
    position: relative;
}

.lkt-icon .lkt-icon--main {
    display: var(--lkt-icon--icon--display);
    align-items: var(--lkt-icon--icon--align-items);
    justify-content: var(--lkt-icon--icon--justify-content);
    transition: var(--lkt-icon--transition);

    padding: var(--lkt-icon--icon--padding);
    background: var(--lkt-icon--icon--background);
    border-radius: var(--lkt-icon--icon--border-radius);
    border-width: var(--lkt-icon--icon--border-width);
    border-style: var(--lkt-icon--icon--border-style);
    border-color: var(--lkt-icon--icon--border-color);
    font-size: var(--lkt-icon--icon--font-size);
    font-style: var(--lkt-icon--icon--font-style, normal);
    color: var(--lkt-icon--icon--color);
    margin: var(--lkt-icon--icon--margin);
    width: var(--lkt-icon--icon--width);
    height: var(--lkt-icon--icon--height);
}

.lkt-icon:hover {
    background: var(--lkt-icon--hover--background);
    color: var(--lkt-icon--hover--color);
    border-color: var(--lkt-icon--hover--border-color);
}

.lkt-icon:hover .lkt-icon--main {
    background: var(--lkt-icon--hover--icon--background);
    color: var(--lkt-icon--hover--icon--color);
    border-color: var(--lkt-icon--hover--icon--border-color);
}

.lkt-icon--dot {
    background: var(--lkt-icon--dot--background);
    color: var(--lkt-icon--dot--color);
    font-size: var(--lkt-icon--dot--font-size);
    height: var(--lkt-icon--dot--height);
    right: var(--lkt-icon--dot--right);
    top: var(--lkt-icon--dot--top);
    width: var(--lkt-icon--dot--width);
    line-height: var(--lkt-icon--dot--line-height);
    text-align: var(--lkt-icon--dot--text-align);
    position: var(--lkt-icon--dot--position, absolute);
    display: var(--lkt-icon--dot--display, block);
    border-radius: var(--lkt-icon--dot--border-radius, 100%);
    font-style: var(--lkt-icon--dot--font-style, normal);
}

.lkt-icon.swap-icon-and-dot .lkt-icon--main {
    position: var(--lkt-icon--dot--position, absolute);
    right: var(--lkt-icon--dot--right);
    top: var(--lkt-icon--dot--top);
    font-size: var(--lkt-icon--dot--font-size);
}

.lkt-icon.swap-icon-and-dot .lkt-icon--dot {
    position: static;
    right: initial;
    top: initial;
    font-size: var(--lkt-icon--icon--font-size);
}